
<div class="container">
  <div class="row">
     <div class="col-lg-6"><h1>Venues</h1></div>
     <div *ngIf="showLoader" class="col-lg-6 text-lg-right"><h4>Gathering data...</h4></div>
  </div>

<agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom">
 <agm-marker (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow"
 *ngFor="let m of venues; let i = index"
 [latitude]="m.venue.location.lat" 
 [longitude]="m.venue.location.lng">
 <agm-info-window #infoWindow>
  <strong>{{m.venue.name}}</strong>
</agm-info-window>
 </agm-marker>

  <agm-circle [latitude]="lat" [longitude]="lng" [editable]="true" [fillColor]="'red'" [radius]="radius">
  </agm-circle>

</agm-map>


<div class="row">
<ng-container *ngFor="let image of images; let i = index">
<div class="col-lg-3 col-md-4">
  <div class="card-group">
      <div class="card">
        <img [src]="image" alt="Avatar" style="width:100%">     
    </div>
  </div>
</div>

</ng-container>
</div>

</div>




